<!DOCTYPE html data-theme="dark">
<html lang="{{ site.lang | default: 'en-US' }}" data-theme="dark">

<head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/pico-customize.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@500&display=swap" rel="stylesheet">
</head>

<body class="">
    <main class="container">
        <article>
            <header class="pico-background-sand-100">
                <h1>{{ page.title }}</h1>
                {% if page.date %}
                    <small>Published On: {{ page.date | date: "%B %d, %Y" }}</small>
                {% endif %}
            </header>
            <section>
                {{ content }}
            </section>
        </article>
    </main>
    {% include footer.html %}
</body>

</html>