<!DOCTYPE html>
<html lang="{{ site.lang | default:'en-US' }}" data-theme="dark">

<head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ page.media.image | absolute_url }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 160 }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="en_US">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/pico-customize.css' | relative_url }}">

    <style>
        .responsive-image {
            max-width: 100%;
            max-height: 400px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body class="">
    <main class="container">
        {% if page.media %}
        <article>
            <header>
                <h2 class="doto-500">{{ site.title }}</h2>
            </header>
            <section>
                <h3>{{ page.title }}</h3>
                <img src="/assets/images/shows/{{page.media.image}}" class="responsive-image" />
                <p>{{ content }}</p>
                <a href="https://www.imdb.com/title/{{page.media.imdb}}/">"{{page.media.title}}" on IMDB</a>
            </section>
            <footer><small>Watched on: {{page.media.watched}} - Rated: <i>{{page.media.rating}}</i></small></footer>
        </article>
        {% else %}
        <h1>Movie data not found</h1>
        {% endif %}
        <small>Published on: {{ page.date | date: "%B %e, %Y" }}</small>
    </main>
    {% include footer.html %}
</body>

</html>